@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Permanent+Marker&display=swap');

html, body {
    height: 100%;
    width: 100%;
}

 /* Navigation Bar */

.navbar {
    background-color: #312F33;
    padding: 1% 0;
    font-size: 1.2em;
}

.navbar-brand {
    min-height: 55px;
    padding: 0 15px 5px;

}
.navbar-default .navbar-nav li a {
    color: #ffffff;
}
.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a.active {
    color: #E45845;
}

h1 {
    font-family: Permanent Marker, sans-serif;
    letter-spacing: 5px;
    text-align: center;
    color: #E45845;
}

h2 {
    font-family: Nunito, sans-serif;
    letter-spacing: 5px;
    text-align: center;
    color: #E45845;
}

h3 {
    font-family: Nunito, sans-serif;
    letter-spacing: 5px;
    text-align: center;
    color: #ffffff;
}

h4 {
    font-family: Nunito, sans-serif;
    letter-spacing: 5px;
    text-align: center;
    color: #E45845;
}

#home {

    background:url(samuraiblossom.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;


    
}


 /* creates the level of zoom for the hero image */

 @keyframes hero-image-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }

}

#gallery {

    background:url(gallery4.jpg) no-repeat center center fixed;
    display: table;
    height: 50%;
    position: top;
    width: 100%;
    background-size: cover;

    
}


/* Gallery Section */

.image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 1.5rem;
    grid-template-areas: 'img-1 img-2 img-3 img-3' 'img-1 img-4 img-5 img-6' 'img-7 img-7 img-8 img-6' 'img-9 img-10 img-11 img-11' 'img-9 img-12 img-13 img-14' 'img-15 img-15 img-16 img-14';
    padding-bottom: 32px;
}

.image-gallery a {
    width: 100%;
    height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.image-gallery a i{
    color:rgba(255, 255, 255, .6);
    font-size: 3rem;
    position: relative;
    z-index: 100;
    padding: 1rem 3rem;
    border: 2px solid rgba(255, 255, 255, .6);
    border-radius: 4rem;
    opacity: 0;
    transition: opacity .5s;
}

.image-gallery a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    opacity: 0;
    transition: opacity .5s;
}

.image-gallery a:hover i, .image-gallery a:hover::before {
    opacity: 1;
 opacity: 1;
}
.img-1{
    grid-area: img-1;
    min-height: 51.5rem;
    background-image: url("../images/galleryimages/gal1.jpg");
}

.img-2{
    grid-area: img-2;
    background-image: url("../images/galleryimages/gal17.jpg");
}

.img-3{
    grid-area: img-3;
    background-image: url("../images/galleryimages/gal3.jpg");
}

.img-4{
    grid-area: img-4;
    background-image: url("../images/galleryimages/gal4.jpg");
}

.img-5{
    grid-area: img-5;
    background-image: url("../images/galleryimages/gal5.jpg");
}

.img-6{
    grid-area: img-6;
    min-height: 51.5rem;
    background-image: url("../images/galleryimages/gal6.jpg");
}

.img-7{
    grid-area: img-7;
    background-image: url("../images/galleryimages/gal7.jpg");
}

.img-8{
    grid-area: img-8;
    background-image: url("../images/galleryimages/gal8.jpg");
}

.img-9{
    grid-area: img-9;
    min-height: 51.5rem;
    background-image: url("../images/galleryimages/gal9.jpg");
}

.img-10{
    grid-area: img-10;
    background-image: url("../images/galleryimages/gal10.jpg");
}

.img-11{
    grid-area: img-11;
    background-image: url("../images/galleryimages/gal11.jpg");
}

.img-12{
    grid-area: img-12;
    background-image: url("../images/galleryimages/gal12.jpg");
}

.img-13{
    grid-area: img-13;
    background-image: url("../images/galleryimages/gal13.jpg");
}

.img-14{
    grid-area: img-14;
    min-height: 51.5rem;
    background-image: url("../images/galleryimages/gal14.jpg");
}

.img-15{
    grid-area: img-15;
    background-image: url("../images/galleryimages/gal15.jpg");
}

.img-16{
    grid-area: img-16;
    background-image: url("../images/galleryimages/gal16.jpg");
}



#contactus {

    background:url(contactus2.jpg) no-repeat center center fixed;
    display: table;
    height: 50%;
    position: relative;
    width: 100%;
    background-size: cover;

    
}

#submitted {

    background:url(contactus2.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;

    
}

#contact {
    margin: 3rem;
}

/*Contact Us Page*/
header {
    text-align: center;
    padding-top: 75px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100%;
    margin: 0;
}

/*Contact Us Section*/
.contact-us {

    color: 4;
    text-align: center;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    height: 900px;
}

/*Form*/
.form-area {
    color: #E45845;
    max-width: 1100px;
    height: 750px;
    padding: 5% 10% 10% 10%;
    margin: auto;
    border: 3px solid #000000;
    background: #3c4044;
}

.text-input-small {
    background: transparent;
    color: #E45845;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 2px solid #000000;

}

.text-input-big {
    background: transparent;
    color: #E45845;
    width: 100%;
    height: 250px;
    margin: 5px 0 20px 0;
    border: 2px solid #000000;
}

.text-input-big:hover{
    border-color: #E45845;
}

.text-input-small:hover{
    border-color: #E45845;
}

.submit-message {
    border-radius: 2px;
    padding: 10px 15px 10px 15px;
    background-color: #3c4044;
    color:#ecedf4;
    font-size: 90%;
}

.submit-message:hover {
    background-color:#ecedf4;
    color: #3c4044;
}


.landing-text {

    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.landing-text h1 {
    color: #E45845;
    font-size: 600%;
    font-weight: 700;
}
.padding {
    padding: 80px 0;
}

    
.padding img {
    width: 100%;
}
#fixed {
    background:url(background.jpg) no-repeat center center fixed;
    display: table;
    height: 60%;
    position: relative;
    width: 100%;
    background-size: cover;

}
footer {

    width: 100%;
    background-color: #312F33;
    padding: 15px;
    margin-top:15px;
    color: #FFF;
}

.fa {
    padding: 15px;
    font-size: 25px;
    color: #FFF;

}
.fa:hover {
    color:  #E45845;
    text-decoration: none;

}
.icon {
    max-width: 200px;
}

input[type=submit] {
    background-color: #646E56;
    color: white;
    padding: 1rem 1.4rem;
    border: none;
    cursor: pointer;
}

input[type=reset] {
    background-color: #646E56;
    color: white;
    padding: 1rem 1.4rem;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #646E56;
}

input[type=reset]:hover {
    background-color: #646E56;
}

#submitted-link {
    color: #646E56;
}

#submitted-link:hover {
    color: #646E56;
}


@media (max-width: 1280px) {
    .landing-text h1 {
        font-size:170%;
    }
    .landing-text h3 {
        font-size:100%;
    }
    .fa {
        font-size: 20px;
        padding: 10px;
    }
    .icon {
        padding-top: 5%;
        max-width: 100px;

    }
}
@media (max-width: 768px) {
    .landing-text h1 {
        font-size:170%;
    }
    .landing-text h3 {
        font-size:100%;
    }
    .fa {
        font-size: 20px;
        padding: 10px;
    }
    .icon {
        padding-top: 5%;
        max-width: 100px;

    }
}

@media (max-width: 320px) {
    .landing-text h1 {
        font-size:170%;
    }
    .landing-text h3 {
        font-size:100%;
    }
    .fa {
        font-size: 40px;
        padding: 10px;
    }
    .icon {
        padding-top: 5%;
        max-width: 100px;

    }
}

