@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Permanent+Marker&display=swap');

html, body {
    height: 100%;
    width: 100%;
}

.navbar {
    background-color: #312F33;
    padding: 1% 0;
    font-size: 1.2em;
}

.navbar-brand {
    min-height: 55px;
    padding: 0 15px 5px;

}
.navbar-default .navbar-nav li a {
    color: #ffffff;
}
.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a.active {
    color: #E45845;
}

h1 {
    font-family: Permanent Marker, sans-serif;
    letter-spacing: 5px;
    text-align: center;
    color: #E45845;
}

h2 {
    font-family: Nunito, sans-serif;
    letter-spacing: 5px;
    text-align: center;
    color: #E45845;
}

h3 {
    font-family: Nunito, sans-serif;
    letter-spacing: 5px;
    text-align: center;
    color: #ffffff;
}

h4 {
    font-family: Nunito, sans-serif;
    letter-spacing: 5px;
    text-align: center;
    color: #E45845;
}

#home {

    background:url(samuraiblossom.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;

         /* animates zoom effect on loading page */
         animation-name: hero-image-zoom;
         animation-duration: 8s;
         animation-fill-mode: forwards;
    
}

 /* creates the level of zoom for the hero image */

 @keyframes hero-image-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }

}

.landing-text {

    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.landing-text h1 {
    color: #E45845;
    font-size: 600%;
    font-weight: 700;
}
.padding {
    padding: 80px 0;
}
.padding img {
    width: 100%;
}
#fixed {
    background:url(background.jpg) no-repeat center center fixed;
    display: table;
    height: 60%;
    position: relative;
    width: 100%;
    background-size: cover;

}
footer {
    width: 100%;
    background-color: #312F33;
    padding: 5% 5% 10% 5%;
    color: #FFF;
}

.fa {
    padding: 15px;
    font-size: 25px;
    color: #FFF;

}
.fa:hover {
    color:  #E45845;
    text-decoration: none;

}
.icon {
    max-width: 200px;
}

@media (max-width: 768px) {
    .landing-text h1 {
        font-size:220%;
    }
    .fa {
        font-size: 20px;
        padding: 10px;
    }
    .icon {
        padding-top: 5%;
        max-width: 100px;

    }
}